@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
    @apply underline decoration-solid decoration-2 underline-offset-[6px] decoration-slate-300;
} 

.nav-link {
    font-family: "Satoshi";
    text-decoration: none !important;
    @apply tracking-[0.0325em];
} 

.prose h1 {
    @apply text-2xl sm:text-3xl lg:text-4xl !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Satoshi", sans-serif;
    @apply tracking-[0.0325em];
}

:not(h1, h2, h3, h4, h5, h6, span, pre, code, svg, .nav-link, .navbar) {
    font-family: "Work Sans", sans-serif !important;
    color: #374151;
    @apply leading-7 tracking-wide;
}

pre, code, pre > code {
    font-family: "DM Mono", monospace !important;
}

code {
    @apply p-[3px] rounded-md border-2 border-slate-400;
}

pre {
    @apply rounded-xl border-2 border-slate-400 p-4 my-8 text-sm;
}

.navbar a {
    font-family: "Satoshi" !important;
    @apply tracking-[0.03em];
}

img {
    @apply mx-auto rounded-lg my-6 h-full w-full md:h-64 md:w-[32rem];
}
