@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=IBM+Plex+Sans:wght@700&family=Work+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
    @apply underline decoration-solid decoration-2 underline-offset-[6px] decoration-slate-300;
} 

.nav-link {
    font-family: "DM Sans";
    text-decoration: none !important;
    @apply tracking-[0.0325em] font-[500] !important;
} 

.prose h1 {
    @apply text-2xl sm:text-3xl lg:text-4xl !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
    @apply tracking-[0.03em] font-semibold !important;
}

:not(h1, h2, h3, h4, h5, h6, span, pre, code, svg, .nav-link, .navbar) {
    font-family: "Work Sans", sans-serif !important;
    color: #374151;
    @apply leading-7 tracking-[0.0175em];
}

pre, code, pre > code {
    font-family: "DM Mono", monospace !important;
}

code {
    @apply p-[3px] rounded-md border-2 border-slate-400;
}

pre {
    @apply rounded-xl border-2 border-slate-400 p-4 my-8 text-sm;
}

.navbar a {
    font-family: "DM Sans" !important;
    @apply tracking-[0.03em] font-[500] !important;
}

img {
    @apply mx-auto rounded-lg my-6 h-full w-full md:h-64 md:w-[32rem];
}

.desc {
    color: #64748b;
}