@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
    font-weight: 300, 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hack";
    src: url("/fonts/hack-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Work Sans";
    src: url("/fonts/WorkSans-Variable.woff2") format("woff2");
    font-weight: 300, 900;
    font-style: normal;
    font-display: swap;
}

.prose {
    max-width: 100% !important;
}

a {
    @apply no-underline text-sky-500 hover:text-sky-600 transition ease-in-out duration-100;
    font-family: "Work Sans";
}

.prose a {
    @apply underline decoration-solid decoration-2 underline-offset-[6px] decoration-slate-300;
} 

.nav-link {
    font-family: "Satoshi";
    font-weight: 525;
    text-decoration: none !important;
    @apply tracking-[0.0325em];
} 

.prose h1 {
    @apply text-2xl sm:text-3xl lg:text-4xl !important;
}

.content {
    @apply mx-auto max-w-screen-md antialiased px-6 md:px-8 py-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Satoshi", sans-serif;
    @apply tracking-[0.0325em];
}

:not(h1, h2, h3, h4, h5, h6, span, pre, code, svg) {
    font-family: "DM Sans", sans-serif;
    color: #374151;
    @apply leading-7 tracking-wide;
}

pre, code, pre > code {
    font-family: "Hack", monospace;
}

code {
    @apply p-[3px] rounded-md border-2 border-slate-400;
}

pre {
    @apply rounded-xl border-2 border-slate-400 p-4 my-8 text-sm;
}

.prose p {
    font-size: 1.02rem;
}

.navbar a {
    font-family: "Satoshi";
    @apply tracking-[0.03em];
}

img {
    @apply mx-auto rounded-lg my-6 h-full w-full md:h-64 md:w-[32rem];
}
