---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const posts = await getCollection('posts', ({ data }) => {
  return data.draft !== true;
});
---

<Layout
  title="Posts"
  description="Articles jotting down my insights from learning about Philosophy, History, Geopolitics and Tech."
>
  {
    posts.map((post) => (
      <div class="my-6 not-prose">
        <p class="text-gray-500 text-lg">
          {new Date(post.data?.date).toLocaleDateString("en-US", {
            weekday: "long",
            year: "numeric",
            month: "long",
            day: "numeric",
          })}
        </p>
        <a href=`/posts/${post.slug}` class="nav-link text-[17px] md:text-[17.75px] text-slate-900 font-[500]">
          {post.data?.title}
        </a>
      </div>
    ))
  }
</Layout>
