<div
      class="flex w-full h-[180px] sm:h-[220px] rounded-lg my-[2.75rem] bg-neutral-50 border border-neutral-100 items-center justify-center overflow-hidden bg-cover bg-center"
      style={{
        background: `linear-gradient(to right, rgb(172, 182, 229) 0%, rgb(146, 233, 232) 70%, rgb(134, 253, 232) 100%)`,
      }}
    >
    </div>