---
import { Icon } from "astro-icon";
---

<nav class="flex mb-2">
  <div class="navbar space-x-5 mr-auto">
    <a href="/">
      <Icon name="home" class="inline-block min-[475px]:hidden stroke-[1.85] stroke-slate-800" size={21} />
      <span class="text-slate-800 font-[575] text-[1.06rem] hidden min-[475px]:inline-block">Home</span>
    </a>
    <a
      href="/posts"
    >
    <Icon name="posts" class="inline-block min-[475px]:hidden stroke-[1.85] stroke-slate-800" size={21} />
    <span class="text-slate-800 font-[575] text-[1.06rem] hidden min-[475px]:inline-block">Posts</span>
    </a>
  </div>
  <span class="text-slate-200 text-[25px] inline-block mx-5 min-[475px]:hidden pt-[1.5px]">/</span>
  <div class="ml-auto space-x-5">
    <a href="https://read.cv/adhirajb1109" target="_blank" rel="noreferrer">
      <Icon
        name="handbag"
        class="inline-block stroke-[1.85] stroke-slate-800"
        size={21}
      />
    </a>
    <a href="https://github.com/adhirajb1109" target="_blank" rel="noreferrer">
      <Icon
        name="github"
        class="inline-block stroke-[1.85] stroke-slate-800"
        size={21}
      />
    </a>
    <a href="mailto:hey@adhiraj.xyz" target="_blank" rel="noreferrer">
      <Icon
        name="mail"
        class="inline-block stroke-[1.85] stroke-slate-800"
        size={21}
      />
    </a>
    <a href="https://twitter.com/adhirajb1109" target="_blank" rel="noreferrer">
      <Icon
        name="twitter"
        class="inline-block stroke-[1.85] stroke-slate-800"
        size={21}
      />
    </a>
    <a
      href="https://discord.com/users/876685465183473675"
      target="_blank"
      rel="noreferrer"
    >
      <Icon
        name="discord"
        class="inline-block stroke-[1.85] stroke-slate-800"
        size={23}
      />
    </a>
  </div>
</nav>
