---
import { Icon } from "astro-icon";
---

<nav class="flex mb-2">
  <div class="navbar space-x-6 mr-auto">
    <a href="/" class="text-slate-800 font-semibold text-[1.06rem]"> Home</a>
    <a href="/posts" class="text-slate-800 font-semibold text-[1.06rem]">
      Posts
    </a>
  </div>
  <div class="ml-auto space-x-5">
    <a href="https://read.cv/adhirajb1109" target="_blank" rel="noreferrer">
      <Icon name="handbag" class="inline-block" size={21} />
    </a>
    <a href="mailto:hey@adhiraj.xyz" target="_blank" rel="noreferrer">
      <Icon name="mail" class="inline-block" size={21} />
    </a>
    <a href="https://twitter.com/adhirajb1109" target="_blank" rel="noreferrer">
      <Icon name="twitter" class="inline-block" size={21} />
    </a>
    <a
      href="https://discord.com/users/876685465183473675"
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="discord" class="inline-block" size={24} />
    </a>
  </div>
</nav>
