---
import BaseHead from "../components/BaseHead.astro";

const {
  title,
  description,
  banner = new URL("/images/banner.png", Astro.site),
} = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} banner={banner} />
  </head>
  <body class="p-6 sm:px-8 pb-32 mx-auto max-w-screen-md antialiased">
    <div
      class="flex w-full h-[180px] sm:h-[220px] rounded-lg mb-8 bg-neutral-50 border border-neutral-100 items-center justify-center overflow-hidden bg-cover bg-center"
      style={{
        background: `linear-gradient(to right, rgb(172, 182, 229) 0%, rgb(146, 233, 232) 70%, rgb(134, 253, 232) 100%)`,
      }}
    >
    </div>
    <h1 class="text-[1.6rem] font-[650] text-slate-900 mt-8 mb-5">
      {title}
    </h1>
    <div class="prose">
      <slot />
    </div>
  </body>
</html>
