---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Cover from "../components/Cover.astro";

const { title, description } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="noise p-6 sm:px-8 pb-32 mx-auto max-w-screen-md antialiased">
    <Navbar />
    <hr />
    <Cover />
    <h1 class="text-[1.425rem] md:text-2xl font-[675] text-slate-900 mb-[1.375rem]">
      {title}
    </h1>
    <div class="prose prose-slate max-w-none">
      <slot />
    </div>
  </body>
</html>
